@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?65fy56');
  src:  url('fonts/icomoon.eot?65fy56#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?65fy56') format('truetype'),
    url('fonts/icomoon.woff?65fy56') format('woff'),
    url('fonts/icomoon.svg?65fy56#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
    height: 100%;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github-icon .path1:before {
  content: "\e900";
  color: rgb(66, 66, 66);
}
.icon-github-icon .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 254);
}
.icon-linkedin-icon:before {
  content: "\e902";
  color: #0274b3;
}

*::selection{
    background: #ccc;
}

.mainpage{
    background-color: #fff;
    font-family: 'Quicksand','sans-serif';
    margin: 0;
    padding: 0;
}
/*Header Nav Bar*/
.topheader{
    text-align: center;
    min-height: 350px;
}

.topnavbar a{
    font-size: 16.5px;
    margin: 10px 20px;
    display: inline-block;
    text-transform: lowercase;
    text-decoration: none;
    color: #5a5959;
}
.topnavbar a:hover{
    color: #ccc;
    text-decoration: none;
    /*txtdecornone*/
}
.intro h1{
    color: #5a5959;
    font-weight: 100;
}

/*Content*/
.content{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    margin-top: 10px;
    min-height: 35vh;
    overflow: auto;
}
/*Portfolio*/

.pcontainer {
    display: flex;
    margin-right: -60px;
    margin-left: -60px;
    
    justify-content: center;
    flex-wrap: wrap;
    
}
.portfolio-section{
    font-weight: 400;
    padding: 1vh 30%;
    text-align: center;
}


.portfolio-section h1{
    font-weight: 100;
    color: #5a5959;
}
.portfolio-section img{
    display: block;
  max-width:348px;
  max-height:225px;
  width: auto;
  height: auto;
}

/*About Me*/
.aboutme-section{
    padding: 1vh 30%;
    text-align: center;
}
.aboutme-section h1{
    font-weight: 100;
    color: #5a5959;
}
/*Footer*/

.footer{
    background-color: #454545;
    min-height: 2.5rem;
    text-align: center;
    width: 100%;
    font-family: 'Quicksand','sans-serif';
    position: relative;


}


/*
.footer {
    background-color: #454545;
    position: relative;
    height: 2.5rem;
    text-align: center;
}
*/

div.footer input[type="button" i] {
    padding: 10px;
    background-color: rgb(245, 245, 245);
    box-shadow: 3px 3px 3px  black;
    font-weight: 900;
    font-family: 'Quicksand','sans-serif';
    
    border: 0;
    letter-spacing: 2px;
}

.footerlinks{
    display: inline-block;
    
}
.contactbutton {
    font-family: 'Quicksand','sans-serif';

}
.linkscontainer{
    margin: 3vh;
}
.linkscontainer a img{
    margin-right: 10px;
}
.linkscontainer p a{
    text-decoration: none;
    color: #ccc;
    font-size: 21px;
}

.icon-github-icon .path1:before {
    content: "\e900";
    color: #424242;
}
.icon-github-icon .path2:before {
    content: "\e901";
    color: #ccc;
    margin-left: -1em;
    font-size: 30px;
  }
.icon-linkedin-icon:before {
    content: "\e902";
    color: #ccc;
    font-size: 25px;
}



